<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<security-role>
		<role-name>role1</role-name>
	</security-role>
	<security-constraint><!-- 제약사항 -->
		<web-resource-collection>
			<web-resource-name>mall</web-resource-name>
			<url-pattern>sec/security01.jsp</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>role1</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
	    <auth-method>BASIC</auth-method>
	</login-config>
</web-app>